#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				span Energy unit
				div#energy unitId -
			span.ball.largeenergy unit.bluebg.auditenergy unit

		.txHistoryWrap
			.auditHint Click a Energy unit to Audit Its Transactions